* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainText {
  color: red;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  transform: skew(-5deg) rotate(5deg);
  transform-origin: center center;
  text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px black, 6px 6px black;
  width: fit-content;
  margin: 30vh auto 0;
}
